<div class="note note-error" *ngIf="!data.includes( 'Successfully') ">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center">
      <div class="head text-uppercase">
        Failed
      </div>
      <div class="close cursor-pointer" (click)="this.hide()">
        <i class=" fa-solid fa-xmark fs-4 fw-boldest"></i>
      </div>
    </div>
     <div class="content w-100 p-2 text-capitalize">
      {{data==null ?'Refresh Browser Please to Genrate New Token':data}}
    </div>
  </div>
</div>
<div class="note-succsses note" *ngIf=" data.includes( 'Successfully') ">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center">
      <div class="head text-uppercase">
        Succsses
      </div>
      <div class="close cursor-pointer" (click)="this.hide()">
        <i class=" fa-solid fa-xmark fs-4 fw-boldest"></i>
      </div>
    </div>
     <div class="content w-100 p-2 text-capitalize">
      {{data}}
    </div>
  </div>
</div>
